body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; }

#arcontactus-widget {
  opacity: 0;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity; }
  #arcontactus-widget * {
    box-sizing: border-box; }
  #arcontactus-widget.left.arcontactus-message {
    left: auto;
    right: 20px; }
  #arcontactus-widget.left .messangers-block {
    right: 0;
    left: auto;
    -webkit-transform-origin: 90% 105%;
    transform-origin: 90% 105%; }
  #arcontactus-widget.left .callback-countdown-block {
    left: 0;
    right: auto; }
  #arcontactus-widget.active {
    opacity: 1; }
  #arcontactus-widget.arcontactus-message {
    z-index: 10000;
    right: 20px;
    bottom: 20px;
    position: fixed !important;
    height: 65px;
    width: 65px; }
  #arcontactus-widget .arcontactus-message-button {
    width: 65px;
    position: absolute;
    height: 65px;
    background-color: #2A65FF;
    border-radius: 50px;
    box-sizing: border-box;
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer; }
    #arcontactus-widget .arcontactus-message-button p {
      font-family: Ubuntu, Arial, sans-serif;
      color: #fff;
      font-weight: 700;
      font-size: 10px;
      line-height: 11px;
      margin: 0; }
    #arcontactus-widget .arcontactus-message-button .pulsation {
      width: 84px;
      height: 84px;
      background-color: #2A65FF;
      border-radius: 50px;
      position: absolute;
      left: -7px;
      top: -7px;
      z-index: -1;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-animation: arcontactus-pulse 2s infinite;
      animation: arcontactus-pulse 2s infinite; }
    #arcontactus-widget .arcontactus-message-button .icons {
      background-color: #fff;
      width: 44px;
      height: 44px;
      border-radius: 50px;
      position: absolute;
      overflow: hidden;
      -webkit-animation: arcontactus-show-icons 6s infinite;
      animation: arcontactus-show-icons 6s infinite;
      top: 50%;
      left: 50%;
      margin-top: -22px;
      margin-left: -22px; }
    #arcontactus-widget .arcontactus-message-button .static {
      position: absolute;
      -webkit-animation: arcontactus-show-stat 6s infinite;
      animation: arcontactus-show-stat 6s infinite;
      top: 51%;
      left: 51%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 52px;
      height: 52px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      text-align: center; }
      #arcontactus-widget .arcontactus-message-button .static img {
        display: inline; }
  #arcontactus-widget .pulsation:nth-of-type(2n) {
    -webkit-animation-delay: 5s;
    animation-delay: .5s; }
  #arcontactus-widget .pulsation.stop {
    -webkit-animation: none;
    animation: none; }
  #arcontactus-widget .icons-line {
    top: 10px;
    left: 12px;
    display: -webkit-box;
    display: flex;
    position: absolute;
    height: 24px; }
    #arcontactus-widget .icons-line span {
      display: inline-block;
      width: 24px;
      height: 24px;
      color: #2A65FF; }
      #arcontactus-widget .icons-line span svg {
        width: 24px;
        height: 24px; }
    #arcontactus-widget .icons-line img,
    #arcontactus-widget .icons-line span {
      margin-right: 40px; }
  #arcontactus-widget .static.hide {
    display: none; }
  #arcontactus-widget .icons.hide {
    display: none; }
  #arcontactus-widget .icons .icon:first-of-type {
    margin-left: 0; }
  #arcontactus-widget .arcontactus-close img {
    -webkit-transform: rotate(180deg) scale(0);
    transform: rotate(180deg) scale(0);
    -webkit-transition: ease-in .12s all;
    transition: ease-in .12s all;
    display: block; }
  #arcontactus-widget .arcontactus-close.show-messageners-block img {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1); }
  #arcontactus-widget .messangers-block {
    width: 355px;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 80px;
    right: 0px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
    padding: 14px 0;
    box-sizing: border-box;
    border-radius: 7px;
    -webkit-transform-origin: 80% 105%;
    transform-origin: 80% 105%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: ease-out .12s all;
    transition: ease-out .12s all;
    z-index: 10000; }
    #arcontactus-widget .messangers-block:hover .close_widget {
      visibility: visible;
      opacity: 0.5; }
    #arcontactus-widget .messangers-block.show-messageners-block {
      -webkit-transform: scale(1);
      transform: scale(1); }
  #arcontactus-widget .messanger {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
    width: 100%;
    padding: 8px 20px 8px 60px;
    position: relative;
    min-height: 54px;
    text-decoration: none; }
    #arcontactus-widget .messanger:hover {
      background-color: #EEEEEE; }
    #arcontactus-widget .messanger span {
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -20px;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background-color: #0084ff;
      margin-right: 10px;
      color: #FFFFFF;
      text-align: center;
      vertical-align: middle; }
      #arcontactus-widget .messanger span svg {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        text-align: center;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -12px; }
    #arcontactus-widget .messanger p {
      margin: 0;
      font-family: Arial, sans-serif;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.87); }
  #arcontactus-widget .callback-countdown-block {
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 410px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 80px;
    left: auto;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 7px;
    -webkit-transform-origin: 80% 105%;
    transform-origin: 80% 105%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: ease-out .12s all;
    transition: ease-out .12s all;
    z-index: 10000;
    color: #2A65FF;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 19px;
    display: none; }
    #arcontactus-widget .callback-countdown-block.display-flex {
      display: -webkit-box;
      display: flex; }
    #arcontactus-widget .callback-countdown-block:before {
      position: absolute;
      bottom: -7px;
      right: 25px;
      left: auto;
      display: inline-block !important;
      border-right: 8px solid transparent;
      border-top: 8px solid #FFFFFF;
      border-left: 8px solid transparent;
      content: ''; }
    #arcontactus-widget .callback-countdown-block .callback-countdown-block-phone {
      font-family: Arial, sans-serif;
      font-size: 14px;
      line-height: 16px;
      padding-left: 10px;
      padding-right: 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      height: 140px;
      display: none;
      position: relative; }
      #arcontactus-widget .callback-countdown-block .callback-countdown-block-phone:before {
        -webkit-transition: 0.2s all;
        transition: 0.2s all; }
      #arcontactus-widget .callback-countdown-block .callback-countdown-block-phone.ar-loading:before {
        background: rgba(255, 255, 255, 0.8);
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1; }
      #arcontactus-widget .callback-countdown-block .callback-countdown-block-phone.ar-loading:after {
        content: ' ';
        position: absolute;
        width: 30px;
        height: 30px;
        z-index: 2;
        top: 50%;
        bottom: 50%;
        margin-top: -15px;
        margin-bottom: -15px;
        background: url("../img/ring-alt.gif") no-repeat transparent scroll 0 0; }
      #arcontactus-widget .callback-countdown-block .callback-countdown-block-phone p {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 3px; }
      #arcontactus-widget .callback-countdown-block .callback-countdown-block-phone .callback-countdown-block-form-group {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center; }
        #arcontactus-widget .callback-countdown-block .callback-countdown-block-phone .callback-countdown-block-form-group input[type=tel] {
          font-family: Arial, sans-serif;
          font-size: 14px;
          line-height: 16px;
          border-radius: 4px;
          border: 0;
          width: 203px;
          height: 36px;
          box-sizing: border-box;
          padding: 10px 11px 9px;
          border: 1px solid #DDDDDD; }
        #arcontactus-widget .callback-countdown-block .callback-countdown-block-phone .callback-countdown-block-form-group input[type=submit] {
          border-radius: 4px;
          border: 0;
          background-color: #2A65FF;
          color: #fff;
          font-family: Arial, sans-serif;
          font-size: 14px;
          padding: 10px 5px 9px;
          cursor: pointer;
          width: 132px;
          height: 36px;
          margin-left: 5px; }
          #arcontactus-widget .callback-countdown-block .callback-countdown-block-phone .callback-countdown-block-form-group input[type=submit]:hover {
            opacity: 0.8; }
    #arcontactus-widget .callback-countdown-block .callback-countdown-block-sorry {
      height: 140px;
      -webkit-box-align: center;
      align-items: center;
      display: none; }
      #arcontactus-widget .callback-countdown-block .callback-countdown-block-sorry p {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 7px; }
    #arcontactus-widget .callback-countdown-block .callback-countdown-block-close {
      position: absolute;
      top: 9px;
      right: 9px;
      cursor: pointer;
      z-index: 1; }
    #arcontactus-widget .callback-countdown-block .callback-countdown-block-timer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      height: 140px;
      display: none; }
      #arcontactus-widget .callback-countdown-block .callback-countdown-block-timer p {
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 7px; }
      #arcontactus-widget .callback-countdown-block .callback-countdown-block-timer h1 {
        font-family: Ubuntu, Arial, sans-serif;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
        font-weight: 300; }
    #arcontactus-widget .callback-countdown-block .callback-countdown-block-phone.display-flex,
    #arcontactus-widget .callback-countdown-block .callback-countdown-block-timer.display-flex,
    #arcontactus-widget .callback-countdown-block .callback-countdown-block-sorry.display-flex {
      display: -webkit-box;
      display: flex; }
  #arcontactus-widget .callback-state {
    background-color: #fff;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    position: absolute;
    overflow: hidden;
    -webkit-animation: arcontactus-show-icons 6s infinite;
    animation: arcontactus-show-icons 6s infinite;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    display: none;
    -webkit-animation: none;
    animation: none;
    z-index: 999999;
    color: #2A65FF; }
    #arcontactus-widget .callback-state.display-flex {
      display: -webkit-box;
      display: flex; }
    #arcontactus-widget .callback-state svg {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -12px;
      margin-left: -12px; }
    #arcontactus-widget .callback-state .callback-state-img {
      position: absolute;
      top: 12px;
      left: 12px; }

.widget__dialog {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 20px 25px; }
  .widget__dialog p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.35px;
    color: #2F2E39;
    text-align: left;
    margin-bottom: 0px;
    margin-right: 35px; }

.widget__breadcrumbs {
  display: -webkit-box;
  display: flex; }
  .widget__breadcrumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center; }
    .widget__breadcrumbs ul li {
      font-size: 11px;
      color: #2F2E39; }

.consultant__status {
  opacity: 0.5;
  margin-left: 15px;
  position: relative; }
  .consultant__status:before {
    position: absolute;
    bottom: 4px;
    right: auto;
    left: -10px;
    display: inline-block !important;
    content: '';
    background: #2F2E39;
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 50%;
    width: 4px;
    height: 4px; }

.widget__box {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
          align-items: flex-end; }

.justiva__widge__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end; }
  .justiva__widge__avatar img {
    width: 100%; }

.widget__links {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  flex-wrap: wrap; }
  .widget__links a {
    background: #E7F6FF;
    border: 1px solid rgba(42, 101, 255, 0.4);
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.35px;
    color: #2A65FF;
    padding: 10px 15px;
    margin: 5px 0px 0px 10px; }

.close_widget {
  position: absolute;
  top: 5px;
  right: 0;
  width: 31px;
  height: 31px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: auto;
  -webkit-transition: opacity .25s ease-in-out, visibility .25s;
  transition: opacity .25s ease-in-out, visibility .25s; }
  .close_widget svg {
    display: block; }

#arcontactus-widget .messangers-block {
  padding-top: 50px; }

.widget_container.show:before {
  content: " ";
  -webkit-filter: blur(250px);
  filter: blur(250px);
  position: fixed;
  right: -5px;
  bottom: -5px;
  z-index: 10;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 344.5px #1a3a8c; }

svg.widget_icon {
  fill: #fff; }

.widget__links a:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background: #2A65FF;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
